In [1]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#from models import *
from preprocesor import *
import pandas as pd
from ann import load_dataset
import matplotlib.pyplot as plt

df = pd.read_excel('daily-minimum-temperatures-in-me.xls', index_col=0, parse_dates=True)
df.head()

Using CNTK backend

            temperature
Date
1981-01-01         20.7
1981-01-02         17.9
1981-01-03         18.8
1981-01-04         14.6
1981-01-05         15.8

In [2]:
p = PreprocessDifferenciate()
x,y = p.execute(df.temperature)
x.head()

Date
1981-01-01    NaN
1981-01-02   -2.8
1981-01-03    0.9
1981-01-04   -4.2
1981-01-05    1.2
Name: temperature, dtype: float64

In [3]:
y = p.inverse_transformation(x)
y.head()

      0
0   NaN
1  17.9
2  18.8
3  14.6
4  15.8

In [4]:
x,y = PreprocessLagMatrix(3).execute(df.temperature)
x.head(10)

            temperature_t-1  temperature_t-2  temperature_t-3
Date
1981-01-01              NaN              NaN              NaN
1981-01-02             20.7              NaN              NaN
1981-01-03             17.9             20.7              NaN
1981-01-04             18.8             17.9             20.7
1981-01-05             14.6             18.8             17.9
1981-01-06             15.8             14.6             18.8
1981-01-07             15.8             15.8             14.6
1981-01-08             15.8             15.8             15.8
1981-01-09             17.4             15.8             15.8
1981-01-10             21.8             17.4             15.8

In [5]:
x.values

array([[ nan,  nan,  nan],
       [20.7,  nan,  nan],
       [17.9, 20.7,  nan],
       ...,
       [13.6, 14. , 14.6],
       [13.5, 13.6, 14. ],
       [15.7, 13.5, 13.6]])

In [6]:
p1 = PreprocessDifferenciate()
p2 = PreprocessLagMatrix(lag=2)
p3 = PreprocessRemoveNan()
pl = PreprocessList([p1, p2, p3])

x, y = pl.execute(df.temperature)
x.head(10)

            temperature_t-1  temperature_t-2
Date
1981-01-04              0.9             -2.8
1981-01-05             -4.2              0.9
1981-01-06              1.2             -4.2
1981-01-07              0.0              1.2
1981-01-08              0.0              0.0
1981-01-09              1.6              0.0
1981-01-10              4.4              1.6
1981-01-11             -1.8              4.4
1981-01-12             -3.8             -1.8
1981-01-13             -2.9             -3.8