In [3]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#from models import *
from preprocesor import *
import pandas as pd
from ann import load_dataset
import matplotlib.pyplot as plt

df = pd.read_excel('daily-minimum-temperatures-in-me.xls', index_col=0, parse_dates=True)
df.head()

            temperature
Date
1981-01-01         20.7
1981-01-02         17.9
1981-01-03         18.8
1981-01-04         14.6
1981-01-05         15.8

In [5]:
x,y = PreprocessLagMatrix(3).execute(df.temperature)
x.head(10)

             t-1   t-2   t-3
Date
1981-01-01   NaN   NaN   NaN
1981-01-02  20.7   NaN   NaN
1981-01-03  17.9  20.7   NaN
1981-01-04  18.8  17.9  20.7
1981-01-05  14.6  18.8  17.9
1981-01-06  15.8  14.6  18.8
1981-01-07  15.8  15.8  14.6
1981-01-08  15.8  15.8  15.8
1981-01-09  17.4  15.8  15.8
1981-01-10  21.8  17.4  15.8

In [6]:
x.values

array([[  nan,   nan,   nan],
       [ 20.7,   nan,   nan],
       [ 17.9,  20.7,   nan],
       ...,
       [ 13.6,  14. ,  14.6],
       [ 13.5,  13.6,  14. ],
       [ 15.7,  13.5,  13.6]])